# Ignore tls directory that stores self-signed TLS certs/keys for the bot.
/tls/

# Ignore pcre2bot's logs.
/irclogs

# Ignore pcre2bot.toml config file that is currently used.
/pcre2bot.toml

# Ignore pcre2bot.service systemd unit file "
/pcre2bot.service

# Ignore pcre2bot.profile firejail profile "
/pcre2bot.profile
