[Unit]
Description=pcre2test IRC bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=%h/pcre2bot/pcre2bot --ac %h/pcre2bot/pcre2bot.toml
StandardOutput=null
StandardError=journal

[Install]
WantedBy=default.target
